*.mat
*.h5
*.pyc
*.npy
*.npz
*-checkpoint.ipynb
*~
*.swp

exp-*/data/*
exp-*/log/*
exp-*/results*/*
exp-*/caffemodel/*
exp-*/tfmodel/*
exp-*/__obsolete__/*
exp-referit/referit-dataset/*

*.caffemodel
*.tfmodel*

*-Copy*.ipynb

checkpoint
.vscode/settings.json
.vscode/settings.json
demo/prediction.png
util/nms.o
util/nms.c
util/nms.so
util/build/temp.linux-x86_64-3.6/nms.o
